* {
  box-sizing: border-box;
}
body {
  width: 80%;
}
header {
  color: rgb(241, 241, 241);
}
main {
  min-height: 100vh;
}

nav {
  border-bottom: 2px solid #25b8f7;
}

footer {
  background-color: black;
  height: 75px;
}

.category-desc {
  width: 75%;
}
.category:hover {
  background-color: lightgray;
  cursor: pointer;
}

button {
  background-color: white;
  border: none;
  width: 300px;
}

.resource-title {
  font-size: 1.5em;
  border-bottom: 1px solid lightgray;
}

.subcategory {
  font-size: 1.25em;
}
.subcategory > a:hover {
  color: lightgray;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.image-fit {
  object-fit: cover;
}

.footer-container {
  width: 80%;
}
